extends layout

block content
 div(class = 'center')
  h1 Check the currect weather!
   form(action='ps4', method='POST')
    p Zip Code: 
      input(type='text', name='postalCode', value='', class ='button')
      
    input(type='submit', value='Submit')
