extends layout

block content
  h1 Enter the country you want to look at for Coronavirus Updates
   form(action='/ps4/submit-form', method='POST')
    p
      | Country: 
      input(type='text', name='region', value='')
      |          year: 
      input(type='text', name='year', value='')
      |          imdb: 
      input(type='text', name='imdb', value='')
    input(type='submit', value='Submit')
